<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('common/styles'); -%>
  
  <script src="https://sdk-cdn.mypurecloud.com/javascript/62.0.0/purecloud-platform-client-v2.min.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript">
      var apiKey = '<%= apiKey %>';
      var sessionId = '<%= sessionId %>';
      var token = '<%= token %>';
      var userName = '<%= userName %>';
  </script>
</head>
<body>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md mx-auto">
          <div class="text-center">Agent</div>
          <div class="stream-container mx-auto">
            <div id="publisher"></div>
          </div>
        </div>
        <div class="col-md mx-auto">
          <div class="text-center">Customer</div>
          <div class="stream-container mx-auto">
            <div id="subscribers"></div>
          </div>
        </div>
      </div>
      <div class="row" id="share-screen-container">
        <!-- <div id="pub-share-screen"></div> -->
        <!-- <div id="sub-share-screen"></div> -->
      </div>
    </div>
  </div>

  <script type="module"  src="/js/vonage-room/opentok.js"></script>
</body>
</html>