<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('common/styles'); -%>
  
  <script src="https://sdk-cdn.mypurecloud.com/javascript/62.0.0/purecloud-platform-client-v2.min.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript">
      var apiKey = '<%= apiKey %>';
      var sessionId = '<%= sessionId %>';
      var token = '<%= token %>';
      var userName = '<%= userName %>';
  </script>
</head>
<body>
  <%- include('common/header'); -%>

  <div class="container">
    <div>
      <span>Share Screen: </span>
      <label class="switch">
        <input type="checkbox" id="share-screen-switch">
        <span class="slider round"></span>
      </label>
    </div>
    <div id="publisher"></div>
    <div id="subscribers"></div>
    <div id="share-screen-container"></div>
    <div id="sub-share-screen"></div>
  </div>

  <script type="module"  src="/js/vonage-room/opentok.js"></script>
</body>
</html>