<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%= appURI.replace(/\/+$/, '') %>/css/style.css">
  <%- include('common/styles'); -%>

  <script src="https://sdk-cdn.mypurecloud.com/javascript/latest/purecloud-platform-client-v2.min.js"></script>
  <script src="https://sdk-cdn.mypurecloud.com/client-apps/1.4.0/purecloud-client-app-sdk.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript">
    var appURI = '<%= appURI %>';
    var implicitGrantID = '<%= implicitGrantID %>';
    var emailQueueID = '<%= emailQueueID %>';
  </script>
  <script type="module"  src="<%= appURI.replace(/\/+$/, '') %>/js/index/genesys-cloud.js"></script>
</head>
<body>
  <!-- Iframe for the conversation -->
  <iframe id="conversation-iframe">
  </iframe>

  <!-- Iframe for the error page -->
  <iframe id="error-iframe"></iframe>

  <!-- MODALS -->
  <!-- Email Modal -->
  <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="emailModalLabel">Send Room Link via Email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="btn-send-email" type="button" class="btn btn-primary">Send</button>
        </div>
        </div>
    </div>
  </div>

  <!-- SMS Modal -->
  <div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="smsModalLabel">Send Room Link via SMS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputEmail">Phone Number</label>
                <input type="tel" class="form-control" id="inputSMS" placeholder="+15553170000">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="btn-send-sms" type="button" class="btn btn-primary">Send</button>
        </div>
        </div>
    </div>
  </div>

  <!-- Miscellaneous Info -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p id="infoModalText" class="text-center"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Controls -->
  <div id="agent-controls">
    <div class="container-fluid">    
      <div class="row">
        <div class="col-sm-4 share-screen-div">
          <span>Share Screen: </span>
          <label class="switch">
            <input type="checkbox" id="share-screen-switch">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="col-sm">
          <span>Send Room Link:    </span>
          <button id="btn-email" type="button" class="btn btn-light">Email</button>
          <button id="btn-sms" type="button" class="btn btn-light">SMS</button>
          <button id="btn-chat" type="button" class="btn btn-light">Chat</button>
        </div>
      </div>  
    </div>
  </div>
</body>
</html>